<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panadería el Dorado</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <header>
        <h1>Panaderia el Dorado
        </h1>
        <nav>
            <ul>
               <li><a href="/">Inicio</a></li>
               <li><a href="/contact">Contacto</a></li>
               <li><a href="/formulario">Formulario</a></li>
            </ul>
        </nav>
    </header>
    <section class="container">
        <h2>Sobre Nosotros</h2>
        <p>Somos una panadería familiar ubicada en el corazón de la ciudad, comprometidos en ofrecer productos frescos y deliciosos a nuestros clientes desde 1990.</p>
        <p>Nuestro equipo está formado por panaderos expertos y apasionados por su trabajo, quienes utilizan recetas tradicionales y ingredientes de alta calidad para crear los mejores panes, pasteles y bollería.</p>
        <p>En Panadería El Pan Dorado nos enorgullecemos de nuestra atención al detalle y de proporcionar una experiencia única a cada cliente que visita nuestra tienda. Valoramos la tradición, la calidad y la satisfacción de nuestros clientes por encima de todo.</p>
        <p>¡Visítanos y descubre por qué somos la panadería preferida por muchos!</p>
    </section>
    <footer>
        <p>@2024 Panadería El Pan Dorado. Todos los derechos reservados.</p>
    </footer>
</body>
</html>