<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panadería el Dorado</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Panadería el Dorado</h1>
        <nav>
            <ul>
               <li><a href="/about">Sobre nosotros</a></li>
               <li><a href="/contact">Contacto</a></li>
               <li><a href="/formulario">Formulario</a></li>
            </ul>
        </nav>
    </header>
    <section class="container">
        <h2 class="section-title">Información</h2>
        <div class="info-block">
            <h3>¿De qué trata nuestra panadería?</h3>
            <p>Somos una panadería artesanal comprometida en ofrecer productos frescos y de alta calidad a nuestros clientes. Nuestra misión es crear deliciosos panes y pasteles que deleiten los sentidos y sean parte de momentos especiales.</p>
        </div>
        <div class="info-block">
            <h3>¿Qué productos ofrecemos?</h3>
            <ul>
                <li>Panes artesanales de diferentes tipos y sabores.</li>
                <li>Pasteles y tartas para ocasiones especiales.</li>
                <li>Deliciosos postres y bollería.</li>
                <li>Productos sin gluten y opciones saludables.</li>
                <li>Productos de temporada y especiales.</li>
            </ul>
        </div>
        <div class="info-block">
            <h3>¿Por qué elegirnos?</h3>
            <p>En Panadería El Pan Dorado nos preocupamos por la calidad, frescura y sabor de nuestros productos. Utilizamos ingredientes naturales y recetas tradicionales para garantizar una experiencia gastronómica excepcional. Además, ofrecemos un servicio amable y personalizado para satisfacer las necesidades de nuestros clientes.</p>
        </div>
    </section>
    <footer>
        <p>@2024 Panadería El Pan Dorado. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
